*.aux
*.aux.gz
*.log
*.log.gz
*.dvi
*.dvi.gz
*.toc
*.toc.gz
*.tex.flc
*.tex.flc.gz
*.idx
*.idx.gz
*.bbl
*.bbl.gz
*.fls
*.fls.gz
*.fdb_latexmk
*.fdb_latexmk.gz
*.blg
*.blg.gz
*.out
*.out.gz
*.ps
*.ps.gz
*-eps-converted-to.pdf
*-eps-converted-to.pdf.gz
*~
*~.gz
core
core.gz
*.mod
*.mod.gz
gmon.out
gmon.out.gz
*__genmod.f90
*__genmod.f90.gz
fort.*
